:root {
--text-color: rgb(9, 18, 192);
}

h1 {
    font-size: 80px;
    color: var(--text-color);
}
p {
    margin-bottom: 3px;
}

a {
    color: rgb(9, 18, 192);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: 15px;
    margin: 20px;
}

.Keyword {
    font-size: 140px;
    margin: 0px;
    color: var(--text-color)
}
.partOfSpeech {
    color: var(--text-color);
    font-size: 35px;
}

.Phoenetics {
   color: rgb(92, 92, 92);
   font-size: 45px;
}


.dictionary section {
    background-color: white;
    padding: 30px 40px 30px 40px;  
    margin: 30px 0px;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(9, 18, 192, 0.3);   
    background-color: rgb(255, 255, 255);
}

.dictionary input {
    width: 100%;
    border-radius: 11px;
    border: 1px solid var(--text-color);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Synonym li {
    list-style-type: none;
    border: 1px solid  var(--text-color);
    margin: 20px 20px 0px 00px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    background-color: white;
}

.Synonym {padding: 0;}

.example {
    font-weight: 300;
    font-size: 14px;
}

.images img {
    border-radius: 10px;
    margin-bottom: 30px;
}
.image-note {

    color: rgb(92, 92, 92); 
    font-size: 12px;
    font-style: italic;
}


@media (max-width: 900px) {
    h1 {
        font-size: 70px;
    }
    .Keyword {
        font-size: 80px;
    }
    .Phoenetics {
        font-size: 30px;
    }
  
}
@media (max-width: 375px) {
    h1 {
        font-size: 40px;
    }
    .Keyword {
        font-size: 45px;
    }
    .Phoenetics {
        font-size: 30px;
    }
}
